
.product-container {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  width: 250px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.product-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-item h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.product-item p {
  font-size: 14px;
  margin-bottom: 5px;
}

.product-item .quantity-controls {
  display: flex;
  align-items: center;
}

.product-item button {
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
}

.product-item button:hover {
  background-color: #0056b3;
}

.small-button {
  padding: 2px 4px;
  font-size: 12px;
}

.add-to-cart-button {
  width: 100%;
}



