.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #888;
}

.close:hover {
    color: #000;
}


.status-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.status-dot {
  width: 20px;
  height: 20px;
  border-radius: 75%;
  background-color: #ccc; 
  position: relative;
}

.status-dot.active {
  background-color: #4CAF50; 
}

.status-dot::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  width: 100%;
  height: 2px;
  background-color: #ccc;
  transform: translateY(-50%);
}

.status-dot:last-child::after {
  display: none; 
}

.status-dot.completed::after {
  background-color: #4CAF50; 
}

.status-text {
  position: absolute;
  width: 100px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 14px;
}
